body {
  margin: 5;
  padding: 0;
  font-family: sans-serif;
}

.film-list{
  margin: 5px 500px 5px 5px;
  padding: 10px;
  background-color: lightgrey;
}

.film{
  margin: 10px;
  padding: 10px;
  background-color: lightgrey;
  color: steelblue;
  font-size: 16px;
  text-align: justify;
  list-style-image:  url(https://i.imgur.com/6sFYog2.png);
  justify-content: space-between;
}

button{
  background-color: steelblue;
  color: white;
  font-size: 20px;
  padding: 14px 300px;
}

h1{
  margin-left: 50px;
  text-align: left;
  color: black;
}
